# Dependencias
node_modules/

# Build de Next
.next/
out/
*.tsbuildinfo

# Entorno
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Archivos locales de contexto
context/
nul

# Prisma
prisma/dev.db
